/node_modules
/public/hot
/public/storage
/public/img/Pictures
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/en/uncensored/1/~$main.xlsx
storage/en/uncensored/1/~$rank.xlsx
